@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --white: #ffffff;
  --gray-light: #f5fbfc;
  --gray-dark: #08090a;
  --green: #35b8be;
  --green-dark: #1b9097;
  --green-light: #f5fbfc;
  --blue-dark: #546285;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.logo {
  width: 2%;
}

@media (max-width: 540px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

html {
  background-color: #dfdfdf;
}

.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-twitter {
  background-color: #1da1f2;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}

img {
  width: 480px;
}

.container_section_1 {
  width: 80%;
  margin-left: 4vh;
  margin-right: 4vh;
}

.container_1 {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 2%;
}

p {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  font-weight: 300;
}
.card_1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

button {
  margin-bottom: 3vh;
  border: none;
  border-radius: 2px;
  height: 50px;
  background-color: #1b9097;
  color: white;
  background-image: url(../assets/images/banner_wave.svg);
}

button:hover {
  background-color: rgba(128, 128, 128, 0.377);
}

.container_title-1 {
  display: block;
  justify-content: center;
}

span {
  color: var(--green);
}

.brand-title {
  text-align: center;
}

.footer {
  background-color: var(--gray-light);
  height: 100px;
}

.container_row {
  display: flex;
  flex-direction: row-reverse;
}
.card_2 {
  display: flex;
  flex-direction: column-reverse;
  width: 60%;
  margin: auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 4vh;
  margin-top: 4vh;
}
#item {
  width: 320px;
}

.about {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 540px) {
  .container_1 {
    display: flex;
    flex-direction: column;
    margin-left: 4vh;
    margin-right: 4vh;
  }

  .card_1 {
    display: flex;
    width: 80%;
  }

  img {
    width: 300px;
  }

  .container_row {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1rem;
  }

  .logo {
    width: 4%;
  }
}
